<h1><%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <p><strong><%= dose.ingredient.name %></strong> - <%= dose.description %> |
      <%= link_to "Delete", dose_path(dose), method: :delete, class: "btn btn-xs btn-danger"  %></p>
    </li>
  <% end %>
</ul>



<%= render 'doses/form', ingredients: @ingredients %>
<%= link_to "Delete", cocktail_path(@cocktail), method: :delete, class: "btn btn-xs btn-danger"  %>
